$main_color: #48616c
$header_color: #ffa64c

body
  background-color: $main_color

h1
  font-size: 3em
  text-align: center
  color: $header_color
  font-weight: 500
  font-family: "Times New Roman"
p
  padding: 0
  margin: 5px
  text-align: center
  color: $main_color

.nav
  padding: 1em 0 0 0
  width: 100%
  font-family: sans-serif
  font-weight: bold
  text-transform: uppercase
  ul
    margin: 0 auto
    list-style-type: none
    overflow: hidden
  li
    float: left
  a:link, a:visited
    display: block
    text-decoration: none
    padding: 10px 15px
    color: #fff
  a:hover
    color: $header_color
  a:active
    color: $header_color

.header
  background-color: $main_color
  height: 6em

.menu
  height: 4em
  margin: 0 1em 0 1em

.content
  background-color: $main_color
  height: 35em
  border-style: solid
  margin: 0 1em 1em 1em

.footer
  background-color: $header_color
  height: 5em
  border-style: solid
  border-radius: 4em
  margin: 0 30em 0 30em

.moto
  display: inline-block
  background-color: $header_color
  border-style: solid
  text-align: left
  margin: 1em 0 0 1em
  height: 25em
  img
    margin: 0.6em 0.6em 0 0.6em
    border-style: solid
    height: 17em
    width: 25em
