doctype html
html
  head
    meta(charset="utf-8")
    meta(content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" name="viewport")
    title Garage
    link(href="../lib/normalize-css/normalize.css" rel="stylesheet")
    link(href="../css/app.min.css" rel="stylesheet")
  body
    .header
      h1 - Officina "La Bastia" -
    .menu
      .nav
        ul
          li
            a(href='../index.html') Home
          li
            a(href='#') Iscriviti
          li
            a(href='#') Forum
          li
            a(href='garage.html') Garage
          li
            a(href='#') Contatti
    .content
      .moto
        img(src='../img/cx500.jpg')
        p Honda CX500: una moto decisamente lenta,
        p probabilmente il più grande catorcio
        p nella storia dell'umanità.
      .moto
        img(src='../img/beta.jpeg')
        p Beta Four 50: moto dal telaio tubolare,
        p con un motore dotato di un enorme
        p potenziale non ancora sfruttato.
    .footer
      p Officina "La Bastia"
      p fraz. Castellengo n°14
      p +39 015 8956345